* {
    width: 0;
    height:0;
}

html{
    font-family: roboto, 'sans-serif';

}

h1, h2, h3, h4, h5 {
    font-family: ubuntu, roboto, 'sans-serif';
}

.content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
