<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}{% endblock title %}

        {% block styles %}{% endblock styles %}

        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="/styles/responsive.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div id="{{pageId}}">
            {% block content %}{% endblock content %}

            {% block modal %}{% endblock modal %}

            {% block scripts %}{% endblock scripts %}

        </body>
    </html>