
@media(max-width:900px){
    #page-home{
        background-position-x: 70vw;
    }
    .content{
        align-items: center;
        text-align: center;
    }
    header {
        flex-direction: column;
    }
    header a{
        margin: 48px 0;
    }

    main{
        align-items: center;
    }

    main a{
        margin-bottom: 64px;
    }


    #page-create-point form{
        margin: 0px auto;
        max-width: 95%;
        padding:12px;
    }
    #page-create-point .field-group{
        flex-direction: column;
    }
    #page-create-point .field{
        margin: 0 0 20px 0;
    }
    
    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards {
        grid-template-columns:  1fr;
    }
}
@media(min-width: 1700px){
    #page-home {
        background-position-x: 50vw;
    }
}
@media(max-height: 760px){
    #page-home {
        background-position-y: 200px;
    }
}
